html {
	font-family: 'Avenir Next', Helvetica, sans-serif;
	text-align: center;
}

body {
	max-width: 500px;
	margin: 0 auto;
}

input {
	padding-top: 30px;
	width: 500px;
	height: 60px;
	font-size: 40px;
	border: 0;
}

input:focus {
	outline: none;
}

li {
	text-align: left;
	font-size: 40px;
	list-style: none;
	margin: 0;
}

/* added css */
#footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	padding: 15px 0;
	background: #dcdbc3;
}

.remove {
	padding-bottom: 5px;
}
